<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Bem-vindo ao Sistema de Gestão de Projetos</h1>
        <p>Este é um sistema simples para gestão ágil de projetos.</p>
        <div class="projects">
            <h2>Projetos Cadastrados:</h2>
            {% for projeto in projetos %}
                <div class="project-box">
                    <a href="{{ url_for('detalhes_projeto', projeto_id=projeto[0]) }}" class="project-title">{{ projeto[1] }}</a>
                    <p class="project-description">{{ projeto[2] }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="center-btn"> 
            <p><a href="{{ url_for('criar_projeto') }}" class="btn">Criar Novo Projeto</a></p>
        </div>
        
    </div>
</body>
</html>
